
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
    font-family: -apple-system, helvetica, arial, sans-serif,\ Color \ Symbol;
}
header {
  background-image: linear-gradient(
    to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 768;
  
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.leftside {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 2em;
}

.header-list a {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 100;
}
.header-list a:hover {
  color: #af8efc;
}
.list1{
  font-size: 1.3em;
  font-weight: 100;
}
.list2{
  font-weight: 100;
  font-size: 1.3em;
}
.list3{
    font-size: 1.3em;
  font-weight: 100;

}
.list4{
  font-size: 1.3em;
  font-weight: 100;
}
.fa-chevron-down {
  font-size: xx-small;
  transition: transform 0.3s;
}
.fa-chevron-down:hover {
  transform: rotate(180deg);
}
.rightside {
  display: flex;
  gap: 1em;
}
.btn2 {
  border: thin solid #af8efc;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fff;
  color: #8d49f7;
  font-weight: 800;
}
.btn1 {
  border: thin solid #ffffff;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #a86bf9;
  color: #fff;
  font-weight: 800;
}
div h4, p{
  color: black;
}
div h4:hover{
  color: #7451FD;
}
.list1{
  position: relative;
}
.list-item li a{
  color: rgb(82, 72, 72);
  font-size: .9em;
  
}
.list-item li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid{
  border:thin solid black;
  height: 300px;
}
.product-dropdown{
  display: flex;
}
.dropdown{
  display: flex;
  gap: 2em;
  display: none;
}
.list1:hover .dropdown{
  display: block;
  position: absolute;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.list1:hover .product-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list2{
  position: relative;
}
.list-item2 li a{
color: rgb(82, 72, 72);
font-size: .9em;
}
.list-item2 li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid2{
  border: thin solid black;
  height: 300px;
}
.usecases-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list-item2{
  display: flex;
  gap: 2em;
}
.dropdown2{
  display: flex;
  gap: 2em;
display: none;
}
.list2:hover .dropdown2{
  display: block;
    position: absolute;
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.list2:hover .usecases-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list3{
  position: relative;

}
.list-item3 li a{
color: rgb(82, 72, 72);
font-size: .9em;
}
.list-item3 li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid3{
  border: thin solid black;
  height: 300px;
}
.templates-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list-item3{
  display: flex;
  gap: 2em;
}
.dropdown3{
  display: flex;
  gap: 2em;
display: none;
}
.list3:hover .dropdown3{
  display: block;
    position: absolute;
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px; 
  margin: auto;
}
.list3:hover .templates-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list4{
  position: relative;
}
.list-item4 li a{
  color: rgb(82, 72, 72);
  font-size: .9em;
  
}
.list-item4 li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid4{
  border:thin solid black;
  height: 300px;
}
.resources-dropdown{
  display: flex;
}
.dropdown4{
  display: flex;
  gap: 2em;
  display: none;
}
.list4:hover .dropdown4{
  display: block;
  position: absolute;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.list4:hover .resources-dropdown{
  display: flex;
  gap: 2em;
  
}
.fa-bars{
  font-size: 2.5em;
  color: #fff;
  display: flex;
  align-items: center;
  display: none;
}
@media(max-width:972px){
  .header-list{
    display: flex;
    gap: 1em;
  }
  .header-list a{
    font-size: 1em;
  }
}
@media(max-width:822px) {
  .header-list{
    display: none;
  }
  .fa-bars{
    display: block;
  }
}
@media(max-width:468px) {
  .btns{
    display: none;
  }
}
.herosect{
  background: linear-gradient(
        to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
}
.first-text{
  padding-top: 150px;
}
.first-text h1{
color: #ffffff;
font-size: 4em;
font-weight: 900;
text-align: center;
}
.first-text p{
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}
.mid-btns{
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 40px;
}
.mid-btn1{
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: none;
}
.mid-btn1 a{
  color: #7A4FFB;
  font-size: 1.3em;
  font-weight: 700;
  
}
.mid-btn2{
  padding: 12px 25px;
  border-radius: 10px;
  background-color: #9155f5;
  border: thin solid white;
}
.mid-btn2 a{
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 700;
}
.mid-btn2:hover{
  border: 2px solid #ffffff;
}
.mid-images{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 5%;
 
}
.mid-img1{
  display: flex;
  align-items: center;
}
.mid-img2{
  display: flex;
  align-items: center;
  color: white;
}
.mid-img3{
  display: flex;
  align-items: center;
  color: white;
}
.mid-img4{
  display: flex;
  align-items: center;
  color: white;
}
@media(max-width:571px) {
  .first-text h1{
    font-size: 3em;
  }
  .first-text p{
    font-size: 1em;
  }
}
@media(max-width:505px){
  .mid-images{
      display: flex;
      flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  }
}

/* .anothersect */

.anothersect{
  background: linear-gradient(
            to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.mid-vid{
  width: 75%;
  margin: auto;
}
.mid-vid video{
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:1300px) {
  .mid-vid video{
    width: 500px;
  }
  .mid-vid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:573px) {
  .mid-vid video{
    width: 400px;
  }
}
@media(max-width:451px){
    .mid-vid video{
    width: 300px;
}
}
/* anothersect2 */
.anothersect2{
  background-color: #F0EFF4;
}

.word h1{
  padding-top: 150px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  color: #2B2A35;
}
.marquee{
  display: flex;
  gap: 3em;
  padding: 50px;
}
.text{
  text-align: center;
  padding: 40px;
}
.text h1{
    background: linear-gradient(to right, #392F52, #503781, #6840B2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    font-size: 3em;
  font-weight: 900;
  margin-bottom: 30px;
}
.text p{
margin-bottom: 10px;
font-size: 1.2em;
}
.text a{
  color: #7251FD;
  font-weight: 900;
}
@media(max-width:639px) {
.text h1{
  font-size: 2em;
}
}
@media(max-width:460px){
  .text h1{
  font-size: 1.5em;
}
.text p{
margin-bottom: 10px;
font-size: 1em;
}
}
@media(max-width:381px){
  .word h1{
    font-size: 1.5em;
  }
    .text h1{
  font-size: 1.3em;
}
.text p{
margin-bottom: 10px;
font-size: .7em;
}
}

/* .anothersect3 */

.anothersect3{
  background-color: #fbf9ff71;

}
.image-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
  border-radius: 5px;
}
.jake{
width: 80%;
margin: auto;

position: relative;
top: -70px;
background-color: #fff;
border-radius: 20px;
padding-top: 80px;
}
.jake-text{
  width: 60%;
  margin: auto;
  background-color: #fff;
}
.jake-text h1{
   border: 2px dashed goldenrod;
  text-align: center;
  color: #2B2A35;
  font-size: 3.5em;
  font-weight: 900;
  padding: 20px;
  margin-bottom: 30px;
}
.jake-text p{
  text-align: center;
  margin-bottom: 30px;
}
.jake-text a{
  border:2px solid #8d49f7;
  width: 10%;
  margin: auto;
}
.jake-btn{
  text-align: center;
  border: none;
}
 .jake-btn button{
  padding: 15px 50px;
  background-repeat: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #894AF8, #6D52FE);
  color: #ffffff;
  cursor: pointer;
  font-weight: 900;
}
.jake-btn button:hover{
    background: linear-gradient(to left, #894AF8, #6D52FE);
}
@media(max-width:742px) {
  .jake-text h1{
    font-size: 2em;
  }
}
@media(max-width:476px){
    .jake-text h1{
    font-size: 1.3em;
  }
}
/* .anothersect4 */

.sect1{
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: center;
}

.sect-vid video{
  border-radius: 20px;
  width: 500px;
}

.sect-text h2{
    color: #6B53FF;
}
.sect-text h1{
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 900;
  color: #2B2A35;
}
.p1{
  display: flex;
  gap: 1em;
   margin-bottom: 20px;
   color: #727275;
}
.p1 p{
  color: #727275;
}
.p2{
  display: flex;
   gap: 1em;
    margin-bottom: 20px;
    color: #727275;
}
.p2 p{
  color: #727275;
}
.p3{
  display: flex;
   gap: 1em;
   margin-bottom: 20px;
   color: #727275;
}
.p3 p{
  color: #727275;
}
.start-btn{
  cursor: pointer;
  background-color: #fff;
  padding: 15px 40px;
  border-radius: 10px;
  border: thin solid #7251FD;
  color: #7451FD;
  font-size: 1em;
  font-weight: 700;
}
.start-btn:hover{
  border: 2px solid #7451FD;
}
.sect2{
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap-reverse;
  margin-bottom: 60px;
  align-items: center;
}
.sect2-text h1{
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 900;
  color: #2B2A35;
}
.sect2-vid video{
  width: 500px;
  border-radius: 20px;
}
.sect2-text h2{
    color: #6B53FF;
}
.sect3{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.sect3-vid video{
width: 500px;
border-radius: 20px;
}
.sect3-text h2{
    color: #6B53FF;
}
.sect3-text h1{
  color: #2B2A35;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 900;
}

.sect4-vid video{
  width: 500px;
  border-radius: 20px;

}
.sect4{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap-reverse;
  margin-bottom: 60px;
}
.sect4-text h2{
    color: #6B53FF;
}
.sect4-text h1{
  color: #2B2A35;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 900;
}
.sect5{
  text-align: center;
}.sect5 h1{
  font-size: 3.5em;
  font-weight: 900;
  color:#2B2A35;
  margin-bottom: 15px;
}
.sect5 p{
  color: #2B2A35;
  margin-bottom: 20px;
  font-size: 1.3em;
}
.sect5 a{
  color: #6B53FF;
  font-weight: 700;
}
.pitch-text{
  padding-top: 80px;
text-align: center;
padding-bottom: 80px;
}
.pitch-text h1{
  font-size: 3em;
  font-weight: 800;
  color: #2B2A35;
  margin-bottom: 20px;
}
.pitch-text p{
  color: #2B2A35;
  margin-bottom: 20px;
}
.pitch-text a{
    color: #6B53FF;
  font-weight: 700;
}
@media(max-width:550px){
  .sect-vid video, .sect2-vid video, .sect3-vid video, .sect4-vid video{
    width: 300px;
  }
  .sect-text h1, .sect2-text h1, .sect3-text h1, .sect4 h1{
    font-size: 1.5em;
  }
  .sect5 h1{
    font-size: 1.5em;
  }
}

/* anothersect5 */

.anothersect5{
  background-color: #F7F7FA;
  padding-bottom: 20px;
}
.watches{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.watches-text{
  text-align: center;
}
.watches-text h1{
  margin-top: 50px;
  font-size: 3.5em;
  font-weight: 900;
  color: #2B2A35;
  margin-bottom: 30px;
}
.watches-text p{
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 30px;
}
.paragraphs{
  display: flex;
  gap: 2em;
  justify-content: center;
}
.paragraphs p{
  font-size: 1em;
  font-weight: 600;
}
.special p{
  color: #6B53FF;
  font-weight: 600;
}
hr{
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}
.box{
  border: thin solid #6B53FF;
  width: 80%;
  margin: auto;
  /* height: 450px; */
  border-radius: 40px;
  margin-bottom: 80px;
  
}
.box-inn{
  width: 80%;
  margin: auto;
  display: flex;
  gap: 10em;
  justify-content: start;
  flex-wrap: wrap;
}
.mid-box{
  border: thin solid #6D52FE;
  width:50%;
  height: 450px;
  position: relative;
  top: -50px;border-radius: 30px;
  background: linear-gradient(to bottom,#8b66cf,#5e48da);
}
.mid-box h1, h5{
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
.circle{
  border: thin solid #FFD02C;
  background-color: #FFD02C;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  top: -20px;
}
.circle img{
  width: 145px;
  height: 145px;
  border-radius: 50%;
}
.b1, .b2, .b3, .b4, .b5, .b6{
  display: flex;
  gap: 1em;
  color: #2B2A35;
}
.b1 p, .b2 p, .b3 p, .b4 p, .b5 p{
  color: #2B2A35;
  font-weight: 700;
}
.box-list{
  margin-top: 15%;
}
.p{
  text-align: center;
}
.p p{
  font-size: 1.2em;
  color: #2B2A35;
  margin-bottom: 30px;
  margin-top: 30px;
}
.p button{
  padding: 12px 70px;
  border-radius: 10px;
border: none;
  background: linear-gradient(to right,#8b66cf,#5e48da);
  color: white;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 30px;
}
.new h1{
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: #2B2A35;
  margin-bottom: 50px;
}
.cards{
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding-bottom: 50px;
  
}
.cards p{
 width: 90%;
 margin: auto;
 font-size: .8em;
 font-weight: 800;
 color: #7251FD;
}
.cards h3{
  width: 90%;
  margin: auto;
  font-size: 1.3em;
  color: #2B2A35;
}
.cards h3:hover{
  color: #7251FD;
}
.card1{
  border: thin solid rgb(194, 191, 191);
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
}
.card-img1{
  width: 250px;
  margin:  20px auto;
}
.card-img1 img{
  width: 250px;
  height: 150px;
  border-radius: 20px;
}
.card2{
  border: thin solid rgb(194, 191, 191);
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
}
.card-img2{
  width: 250px;
  margin:  20px auto;
}
.card-img2 img{
  width: 250px;
  height: 150px;
  border-radius: 20px;
}
.card3{
  border: thin solid rgb(194, 191, 191);
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
}
.card-img3{
  width: 250px;
  margin:  20px auto;
}
.card-img3 img{
  width: 250px;
  height: 150px;
  border-radius: 20px;
}
@media(max-width:1075px){
  .mid-box{
    width: 80%;
  }
}
@media(max-width: 810px){
  .watches-text h1{
    font-size: 2em;
  }
  .watches-text p{
    font-size: .8em;
  }
}
@media(max-width:750px){
  .box{
    width: 70%;
    margin: auto;
  }
  .mid-box{
    width: 80%;
    margin: auto;
  }
  .box-list{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media(max-width:656px){
  .right-watch img, .left-watch img{
    width: 100px;
  }
  .paragraphs{font-size: .7em;}
}
@media(max-width:430px){
  .watches-text h1{
    font-size: 1em;
  }
  .paragraphs{
    font-size: .5em;
  }
  .mid-box h1{
    font-size: .7em;
  }
  .box-list p{
    font-size: .7em;
  }
  .circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;

  }
  .circle img{
width: 115px;
height: 115px;
border-radius: 50%;
  }
}
.next-sect4{
    margin-top: 80px;
    background-image: url(../images/imgi_11_background.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    
} 
.next-sect4 h1{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}
.midtext{
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: center;
}
.midtext p{
   color: white;
}
.l1, .l2, .l3{
  display: flex;
  color: white;
}
.last-btn{
    width: 14%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background-image: linear-gradient(to right,  #FFD02C, #FFA42C);
    border-radius: 10px;
  }
  .last-img{
display: flex;
justify-content: center;
  }
.anothersect6{
    display: flex;
    justify-content: start;
    gap: 6em;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.lastpart{
    display: block;
    align-items: center;
    justify-content: start;
    gap: 6em;
}
.lastpart2{
    display: block;
}
.list1 a{
    color: #000000;
    font-size: 1em;
}.list1 a:hover{
    text-decoration: underline;
}
.sectlist a{
    color: #2B2A35;
}
.sectlist a:hover{
    text-decoration: underline;
}
.list2 a{
     color: #000000;
     font-size: 1em;

}
.list2 a:hover{
    text-decoration: underline;
}
.sectlist2 a{
color: #2B2A35;
}
.sectlist2 a:hover{
    text-decoration: underline;
}
.list3 a{
    color: #000000;
    font-size: 1em;
}
.list3 a:hover{
    text-decoration: underline;
}
.sectlist3 a{
color: #2B2A35;
}
.sectlist3 a:hover{
    text-decoration: underline;
}
.list4 a{
    color: #000000;
    font-size: 1em;
}
.list4 a:hover{
text-decoration: underline;
}
.sectlist4 a{
    color: #2B2A35;
}
.sectlist4 a:hover{
    text-decoration: underline;
}
    .anothersect6{
width: 70%;
margin: auto;
display: flex;
gap: 8em;
justify-content: start;
    }
    @media(max-width:880px){
    .anothersect6{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    }
    hr{
      margin-top: 40px;
      width: 70%;
    }
    .goto{
      text-align: center;
      border: thin solid #5e48da;
      width: 200px;
      margin: auto;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #6840B2;
    }
    .goto a{
      color: #fff;
      font-weight: 500;
    }
    footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
    }
    .leftside2{
      display: flex;
      align-items: center;
      gap: 2em;
    }
    .leftside2 p{
      color: #727275;
    }
    .socials a{
color: #727275;
font-size: 1.5em;
    }
    @media(max-width:782px){
      .leftside2 p{
        font-size: .8em;
      }
    }
    @media(max-width:690px){
      .socials a{
        font-size: .8em;
      }
      .logo img{
        width: 80px;
      }
    }
