* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
    font-family: -apple-system, helvetica, arial, sans-serif,\ Color \ Symbol;
    width: 100%;
}

header {
  width: 100%;
    background-image: linear-gradient(
    to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}

.logo img {
  width: 100px;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.header-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.header-list li {
  position: relative;
}

.dropdown,
.dropdown2,
.dropdown3,
.dropdown4 {
  display: none;
  position: absolute;
background-color: #fff;
  top: 40px;
  left: 0;
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
}
.product-dropdown, .usecases-dropdown, .templates-dropdown, .resources-dropdown{
  display: flex;
  align-items: center;
  gap: 2em;
}
.product-dropdown h4, p, li a, .usecases-dropdown h4, p, li, .templates-dropdown h4, p, li, .resources-dropdown h4, p, li{
  color: #111;
}
.list-item2 li a, .list-item l1 a, .list-item3 li a, .list-item4{
  color: #111;
}
li a{
  color: #111;
}
.list-item3, .list-item2{
  display: flex;
  gap: 2em;
}
.mid, .mid2, .mid3, .mid4{
  border: thin solid black;
  height: 200px;
}
.list1:hover .dropdown,
.list2:hover .dropdown2,
.list3:hover .dropdown3,
.list4:hover .dropdown4 {
  display: block;
}

.dropdown img,
.dropdown2 img,
.dropdown3 img,
.dropdown4 img {
  width: 250px;
  margin-top: 10px;
  border-radius: 10px;
}

.rightside {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btns{
  display: flex;
  gap: 1em;
}

.btns a {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
}

.btn1 {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
}

.btn2 {
  background: white;
  color: #9155f5;
  font-size: 1em;
  font-weight: 600;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ============ RESPONSIVE (max-width: 1000px) ============ */
@media (max-width: 1000px) {
  nav {
    flex-wrap: wrap;
  }

  .menu-icon {
    display: block;
  }

  .header-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #111;
    text-align: center;
    padding: 20px 0;
  }

  .header-list.active {
    display: flex;
  }

  .header-list li {
    width: 100%;
  }

  .header-list li a {
    display: block;
    padding: 10px 0;
  }

  .dropdown,
  .dropdown2,
  .dropdown3,
  .dropdown4 {
    position: static;
    display: none;
    background: #fff;
    padding: 10px;
    margin-top: 10px;
  }

  .header-list li.open .dropdown,
  .header-list li.open .dropdown2,
  .header-list li.open .dropdown3,
  .header-list li.open .dropdown4 {
    display: block;
  }

  .btns {
    display: none;
  }
}
.herosect {
  background-image: linear-gradient(
    to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  padding: 140px;
 width: 100%;
}
.heroes{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.herotext h1{
    color: #ffffff;
    font-size: 3em;
    font-weight: 900;
    padding-top: 50px;
}
.herotext p{
color: #ffffff;
font-size: 1em;
margin-bottom: 30px;
}.mid-btn{
    margin-bottom: 60px;
    padding: 15px 30px;
    background-image: linear-gradient(to right,  #FFD02C, #FFA42C);
    border-radius: 10px;
    
}
.mid-btn:hover{
    background-image: linear-gradient(to left, #FFD02C, #FFA42C);
}
.video-container{
    padding-top: 80px;
    
    
}
.video-container video{
    width: 500px;
    border-radius: 10px;
}
.sect-img{
display: flex;
justify-content: center;
gap: 4em;
margin-top: 180px;
}
@media(max-width:1175px){
  .heroes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sect-img{
    display: flex;
    flex-wrap: wrap;
  }
  .herotext h1, p{
    text-align: center;
  }
}
@media(max-width:680px){
  .herotext h1{
    font-size: 1.3em;
  }
  .herotext p{
    font-size: .6em;
  }
  .video-container video{
    width: 300px;
  }
}
@media(max-width:335px){
  .video-container video{
    width: 280px;
  }
}

.anothersect{
    padding-top: 90px;
}
.sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}
.sect img{
    margin-top: 40px;
}
.sect-text h1{
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2B2A35;
}
.sect-text p{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}
.list1{
    display: flex;
}
.list1 li{
    font-weight: 600;
}
.list2{
    display: flex;
}
.list2 li{
    font-weight: 600;
}
.list3{
    display: flex;
}
.list3 li{
    font-weight: 600;
}
.frimg{
    width: 500px;
}

.next-sect{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6em;
    padding-top: 60px;
}
.next-text h1{
        font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2B2A35;
}
.next-text p{
        font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}
.list4{
    display: flex;
}
.list4 li{
    font-weight: 600;
}
.list5{
    display: flex;
}
.list5 li{
    font-weight: 600;
}
.list6{
    display: flex;
}
.list6 li{
    font-weight: 600;
}
.next-sect2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.next-text2 h1{
            font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2B2A35;
}
.next-text2 p{
            font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}

.next-sect3{
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    background-color: #804CFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20em;
    
}
.mid-circle{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FFD02C;
}
.circle img{
    width: 145px;
    height: 145px;
    border-radius: 50%;

}
@media(max-width:1000px){
.next-sect3{
  display: block;
  padding-top: 30px;
}
.mid-circle{
      width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: auto;
}
.next-text3{
  text-align: center;
  margin-top: 20px;
}
}
@media(max-width:510px){
  .frimg{
    width: 280px;
  }
}
@media(max-width:4200px){
  .next-text3 h3{
font-size: 1em;
  }
}
@media(max-width:360px){
  .sect-text h1{
    font-size: 1.8em;
    text-align: center;
  }
  .next-text h1{
    font-size: 1.8em;
    text-align: center;
  }
  .next-text2 h1{
    font-size: 1.8em;
    text-align: center;
  }
}
/* anothersect2 */
.thetext{
    text-align: center;
    padding-top: 30px;
}
.thetext h1{
    font-size: 3em;
    font-weight: 900;
}
.pitchcards .img-container img{
    width: 500px;
}
.pitchcards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  
  gap: 5em;

}
.img-container{
  position: relative;
  display: inline-block;
}
.overlay-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: none;
}
.overlay-btn a{
  font-weight: 900;
  color: #7450FC;
}
.img-container::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #571cec;
opacity: 0;
transition: 0.3s ease;
border-radius: 10px;
}
.img-container:hover::after{
  opacity: 0.8;
 
}
.img-container:hover .overlay-btn{
  display: block;
  z-index: 3333;
  
  
}
.img-container{
  position: relative;
  display: inline-block;
}
.overlay-btn2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: none;
}
.overlay-btn2 a{
  font-weight: 900;
  color: #7450FC;
}
.img-container::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #571cec;
opacity: 0;
transition: 0.3s ease;
border-radius: 10px;
}
.img-container:hover::after{
  opacity: 0.8;
 
}
.img-container:hover .overlay-btn2{
  display: block;
  z-index: 3333;
}
.pitchcards img{
  border: thin solid rgb(212, 208, 208);
  border-radius: 10px;
}
.next-sect4{
    margin-top: 80px;
    background-image: url(../images/imgi_11_background.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    
} 
.next-sect4 h1{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}
.mid-btn{
    width: 14%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background-image: linear-gradient(to right,  #FFD02C, #FFA42C);
    border-radius: 10px;
    
}
.mid-btn:hover{
    background-image: linear-gradient(to left,  #FFD02C, #FFA42C);
}
.fa-check{
    color: #ffffff;
}
.midtext{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.midtext p{
    color: #ffffff;
    
}
.p1{
    display: flex;
    align-items: center;
}
.p2{
    display: flex;
    align-items: center;
}
.p3{
    display: flex;
}

.hero-img img{

  width: 80%;
  margin: auto;
display: flex;
justify-content: center;
}
@media(max-width:562px){
.pitchcards .img-container img{
width: 280px;
 }
}
@media(max-width:332px){
  .midtext{
    display: flex;
    gap: .5em;
  }
}
.anothersect3{
    display: flex;
    justify-content: start;
    gap: 6em;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.lastpart{
    display: block;
    align-items: center;
    justify-content: start;
    gap: 6em;
}
.lastpart2{
    display: block;
}
.list1 a{
    color: #000000;
    font-size: 1em;
}.list1 a:hover{
    text-decoration: underline;
}
.sectlist a{
    color: #2B2A35;
}
.sectlist a:hover{
    text-decoration: underline;
}
.list2 a{
     color: #000000;
     font-size: 1em;

}
.list2 a:hover{
    text-decoration: underline;
}
.sectlist2 a{
color: #2B2A35;
}
.sectlist2 a:hover{
    text-decoration: underline;
}
.list3 a{
    color: #000000;
    font-size: 1em;
}
.list3 a:hover{
    text-decoration: underline;
}
.sectlist3 a{
color: #2B2A35;
}
.sectlist3 a:hover{
    text-decoration: underline;
}
.list4 a{
    color: #000000;
    font-size: 1em;
}
.list4 a:hover{
text-decoration: underline;
}
.sectlist4 a{
    color: #2B2A35;
}
.sectlist4 a:hover{
    text-decoration: underline;
}
.socials{
    display: flex;
    gap: .5em;
    font-size: 2em;
}

@media(max-width:802px){
  .anothersect3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

hr{
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
    .goto{
      text-align: center;
      border: thin solid #5e48da;
      width: 200px;
      margin: auto;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #6840B2;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .goto a{
      color: #fff;
      font-weight: 500;
    }
    footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .leftside2{
      display: flex;
      gap: 2em;
      align-items: center;
    }
    .socials a{
    color: #58566b;
}
.socials a:hover{
    color: #2B2A35;

}
    @media(max-width:837px){
      .socials{
        font-size: 1em;
      }
      .leftside2 p{
        font-size: 1em;
      }
    }
    @media(max-width:517px){
      .leftside2{
        display: flex;

flex-wrap: wrap;      }
      footer{
        display: flex;
        justify-content: space-evenly;
      }
    }
    @media(max-width:350px){
      footer{
        display: block;
      }
    }