* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
    font-family: -apple-system, helvetica, arial, sans-serif,\ Color \ Symbol;
    width: 100%;
}
header {
  background-image: linear-gradient(
    to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 768;
  
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 555;

}
.leftside {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 2em;
}

.header-list a {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 100;
}
.header-list a:hover {
  color: #af8efc;
}
.list1{
  font-size: 1.3em;
  font-weight: 100;
}
.list2{
  font-weight: 100;
  font-size: 1.3em;
}
.list3{
    font-size: 1.3em;
  font-weight: 100;

}
.list4{
  font-size: 1.3em;
  font-weight: 100;
}
.fa-chevron-down {
  font-size: xx-small;
  transition: transform 0.3s;
}
.fa-chevron-down:hover {
  transform: rotate(180deg);
}
.rightside {
  display: flex;
  gap: 1em;
}
.btn2 {
  border: thin solid #af8efc;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fff;
  color: #8d49f7;
  font-weight: 800;
}
.btn1 {
  border: thin solid #ffffff;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #a86bf9;
  color: #fff;
  font-weight: 800;
}
div h4, p{
  color: black;
}
div h4:hover{
  color: #7451FD;
  list-style-type: none;
}
.list1{
  position: relative;
}
.list-item li a{
  color: rgb(82, 72, 72);
  font-size: .9em;
  
}
.list-item li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid{
  border:thin solid black;
  height: 300px;
}
.product-dropdown{
  display: flex;
}
.dropdown{
  display: flex;
  gap: 2em;
  display: none;
}
.list1:hover .dropdown{
  display: block;
  position: absolute;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.list1:hover .product-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list2{
  position: relative;
}
.list-item2 li a{
color: rgb(82, 72, 72);
font-size: .9em;
}
.list-item2 li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid2{
  border: thin solid black;
  height: 300px;
}
.usecases-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list-item2{
  display: flex;
  gap: 2em;
}
.dropdown2{
  display: flex;
  gap: 2em;
display: none;
}
.list2:hover .dropdown2{
  display: block;
    position: absolute;
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.list2:hover .usecases-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list3{
  position: relative;

}
.list-item3 li a{
color: rgb(82, 72, 72);
font-size: .9em;
}
.list-item3 li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid3{
  border: thin solid black;
  height: 300px;
}
.templates-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list-item3{
  display: flex;
  gap: 2em;
}
.dropdown3{
  display: flex;
  gap: 2em;
display: none;
}
.list3:hover .dropdown3{
  display: block;
    position: absolute;
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px; 
  margin: auto;
}
.list3:hover .templates-dropdown{
  display: flex;
  gap: 2em;
  align-items: center;
}
.list4{
  position: relative;
}
.list-item4 li a{
  color: rgb(82, 72, 72);
  font-size: .9em;
  
}
.list-item4 li{
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
}
.mid4{
  border:thin solid black;
  height: 300px;
}
.resources-dropdown{
  display: flex;
}
.dropdown4{
  display: flex;
  gap: 2em;
  display: none;
}
.list4:hover .dropdown4{
  display: block;
  position: absolute;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.list4:hover .resources-dropdown{
  display: flex;
  gap: 2em;
  
}
.fa-bars{
  font-size: 2.5em;
  color: #fff;
  display: flex;
  align-items: center;
  display: none;
}
@media(max-width:1012px){
  .header-list{
    display: none;
  }
  .fa-bars{
    display: block;
  }
}
@media(max-width:468px){
  .btns{
    display: none;
  }

}
.herosect {
  background-image: linear-gradient(
    to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  padding: 140px;
 width: 100%;
}
.heroes{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.herotext h1{
    color: #ffffff;
    font-size: 3em;
    font-weight: 900;
    padding-top: 50px;
}
.herotext p{
color: #ffffff;
font-size: 1em;
margin-bottom: 30px;
}.mid-btn{
    margin-bottom: 60px;
    padding: 15px 30px;
    background-image: linear-gradient(to right,  #FFD02C, #FFA42C);
    border-radius: 10px;
    
}
.mid-btn:hover{
    background-image: linear-gradient(to left, #FFD02C, #FFA42C);
}
.video-container{
    padding-top: 80px;
    
    
}
.video-container video{
    width: 500px;
    border-radius: 10px;
}
.sect-img{
display: flex;
justify-content: center;
gap: 4em;
margin-top: 180px;
}
@media(max-width:1175px){
  .heroes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sect-img{
    display: flex;
    flex-wrap: wrap;
  }
  .herotext h1, p{
    text-align: center;
  }
}
@media(max-width:680px){
  .herotext h1{
    font-size: 1.3em;
  }
  .herotext p{
    font-size: .6em;
  }
  .video-container video{
    width: 300px;
  }
}
@media(max-width:335px){
  .video-container video{
    width: 280px;
  }
}

.anothersect{
    padding-top: 90px;
}
.sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}
.sect img{
    margin-top: 40px;
}
.sect-text h1{
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2B2A35;
}
.sect-text p{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}
.list1{
    display: flex;
}
.list1 li{
    font-weight: 600;
}
.list2{
    display: flex;
}
.list2 li{
    font-weight: 600;
}
.list3{
    display: flex;
}
.list3 li{
    font-weight: 600;
}
.frimg{
    width: 500px;
}

.next-sect{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6em;
    padding-top: 60px;
}
.next-text h1{
        font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2B2A35;
}
.next-text p{
        font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}
.list4{
    display: flex;
}
.list4 li{
    font-weight: 600;
}
.list5{
    display: flex;
}
.list5 li{
    font-weight: 600;
}
.list6{
    display: flex;
}
.list6 li{
    font-weight: 600;
}
.next-sect2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.next-text2 h1{
            font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2B2A35;
}
.next-text2 p{
            font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}

.next-sect3{
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    background-color: #804CFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20em;
    
}
.mid-circle{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FFD02C;
}
.circle img{
    width: 145px;
    height: 145px;
    border-radius: 50%;

}
@media(max-width:1000px){
.next-sect3{
  display: block;
  padding-top: 30px;
}
.mid-circle{
      width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: auto;
}
.next-text3{
  text-align: center;
  margin-top: 20px;
}
}
@media(max-width:510px){
  .frimg{
    width: 280px;
  }
}
@media(max-width:4200px){
  .next-text3 h3{
font-size: 1em;
  }
}
@media(max-width:360px){
  .sect-text h1{
    font-size: 1.8em;
    text-align: center;
  }
  .next-text h1{
    font-size: 1.8em;
    text-align: center;
  }
  .next-text2 h1{
    font-size: 1.8em;
    text-align: center;
  }
}
/* anothersect2 */
.thetext{
    text-align: center;
    padding-top: 30px;
}
.thetext h1{
    font-size: 3em;
    font-weight: 900;
}
.pitchcards .img-container img{
    width: 500px;
}
.pitchcards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  
  gap: 5em;

}
.img-container{
  position: relative;
  display: inline-block;
}
.overlay-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: none;
}
.overlay-btn a{
  font-weight: 900;
  color: #7450FC;
}
.img-container::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #571cec;
opacity: 0;
transition: 0.3s ease;
border-radius: 10px;
}
.img-container:hover::after{
  opacity: 0.8;
 
}
.img-container:hover .overlay-btn{
  display: block;
  z-index: 3333;
  
  
}
.img-container{
  position: relative;
  display: inline-block;
}
.overlay-btn2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: none;
}
.overlay-btn2 a{
  font-weight: 900;
  color: #7450FC;
}
.img-container::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #571cec;
opacity: 0;
transition: 0.3s ease;
border-radius: 10px;
}
.img-container:hover::after{
  opacity: 0.8;
 
}
.img-container:hover .overlay-btn2{
  display: block;
  z-index: 3333;
}
.pitchcards img{
  border: thin solid rgb(212, 208, 208);
  border-radius: 10px;
}
.next-sect4{
    margin-top: 80px;
    background-image: url(../images/imgi_11_background.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    
} 
.next-sect4 h1{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}
.mid-btn{
    width: 14%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background-image: linear-gradient(to right,  #FFD02C, #FFA42C);
    border-radius: 10px;
    
}
.mid-btn:hover{
    background-image: linear-gradient(to left,  #FFD02C, #FFA42C);
}
.fa-check{
    color: #ffffff;
}
.midtext{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.midtext p{
    color: #ffffff;
    
}
.p1{
    display: flex;
    align-items: center;
}
.p2{
    display: flex;
    align-items: center;
}
.p3{
    display: flex;
}

.hero-img img{

  width: 80%;
  margin: auto;
display: flex;
justify-content: center;
}
@media(max-width:562px){
.pitchcards .img-container img{
width: 280px;
 }
}
@media(max-width:332px){
  .midtext{
    display: flex;
    gap: .5em;
  }
}
.anothersect3{
    display: flex;
    justify-content: start;
    gap: 6em;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.lastpart{
    display: block;
    align-items: center;
    justify-content: start;
    gap: 6em;
}
.lastpart2{
    display: block;
}
.list1 a{
    color: #000000;
    font-size: 1em;
}.list1 a:hover{
    text-decoration: underline;
}
.sectlist a{
    color: #2B2A35;
}
.sectlist a:hover{
    text-decoration: underline;
}
.list2 a{
     color: #000000;
     font-size: 1em;

}
.list2 a:hover{
    text-decoration: underline;
}
.sectlist2 a{
color: #2B2A35;
}
.sectlist2 a:hover{
    text-decoration: underline;
}
.list3 a{
    color: #000000;
    font-size: 1em;
}
.list3 a:hover{
    text-decoration: underline;
}
.sectlist3 a{
color: #2B2A35;
}
.sectlist3 a:hover{
    text-decoration: underline;
}
.list4 a{
    color: #000000;
    font-size: 1em;
}
.list4 a:hover{
text-decoration: underline;
}
.sectlist4 a{
    color: #2B2A35;
}
.sectlist4 a:hover{
    text-decoration: underline;
}
.socials{
    display: flex;
    gap: .5em;
    font-size: 2em;
}

@media(max-width:802px){
  .anothersect3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

hr{
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
    .goto{
      text-align: center;
      border: thin solid #5e48da;
      width: 200px;
      margin: auto;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #6840B2;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .goto a{
      color: #fff;
      font-weight: 500;
    }
    footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .leftside2{
      display: flex;
      gap: 2em;
      align-items: center;
    }
    .socials a{
    color: #58566b;
}
.socials a:hover{
    color: #2B2A35;

}
    @media(max-width:837px){
      .socials{
        font-size: 1em;
      }
      .leftside2 p{
        font-size: 1em;
      }
    }
    @media(max-width:517px){
      .leftside2{
        display: flex;

flex-wrap: wrap;      }
      footer{
        display: flex;
        justify-content: space-evenly;
      }
    }
    @media(max-width:350px){
      footer{
        display: block;
      }
    }