
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: -apple-system, helvetica, arial, sans-serif,\ Color \ Symbol;
    width: 100%;
}

header {
  width: 100%;
background-color: #FEFEFE;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}

.logo img {
  width: 100px;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.header-list li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header-list li {
  position: relative;
}

.dropdown,
.dropdown2,
.dropdown3,
.dropdown4 {
  display: none;
  position: absolute;
background-color: #fff;
  top: 40px;
  left: 0;
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
}
.product-dropdown, .usecases-dropdown, .templates-dropdown, .resources-dropdown{
  display: flex;
  align-items: center;
  gap: 2em;
}
.product-dropdown h4, p, li a, .usecases-dropdown h4, p, li, .templates-dropdown h4, p, li, .resources-dropdown h4, p, li{
  color: #111;
}
.list-item2 li a, .list-item l1 a, .list-item3 li a, .list-item4{
  color: #111;
}
li a{
  color: #111;
}
.list-item3, .list-item2{
  display: flex;
  gap: 2em;
}
.mid, .mid2, .mid3, .mid4{
  border: thin solid black;
  height: 200px;
}
.list1:hover .dropdown,
.list2:hover .dropdown2,
.list3:hover .dropdown3,
.list4:hover .dropdown4 {
  display: block;
}

.dropdown img,
.dropdown2 img,
.dropdown3 img,
.dropdown4 img {
  width: 250px;
  margin-top: 10px;
  border-radius: 10px;
}

.rightside {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btns{
  display: flex;
  gap: 1em;
}

.btns a {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
}

.btn1 {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
}

.btn2 {
  background: white;
  color: #9155f5;
  font-size: 1em;
  font-weight: 600;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ============ RESPONSIVE (max-width: 1000px) ============ */
@media (max-width: 1000px) {
  nav {
    flex-wrap: wrap;
  }

  .menu-icon {
    display: block;
  }

  .header-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #111;
    text-align: center;
    padding: 20px 0;
  }

  .header-list.active {
    display: flex;
  }

  .header-list li {
    width: 100%;
  }

  .header-list li a {
    display: block;
    padding: 10px 0;
  }

  .dropdown,
  .dropdown2,
  .dropdown3,
  .dropdown4 {
    position: static;
    display: none;
    background: #222;
    padding: 10px;
    margin-top: 10px;
  }

  .header-list li.open .dropdown,
  .header-list li.open .dropdown2,
  .header-list li.open .dropdown3,
  .header-list li.open .dropdown4 {
    display: block;
  }

  .btns {
    display: none;
  }
}
.herosect{
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 20px;
    text-align: center;
}
.herosect h1{
font-size: 5em;
padding-bottom: 20px;
padding-top: 100px;
color: #2B2A35;
}
.herosect p{
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    color: #58566b;
}
button{
    padding: 16px 50px;
    background-color: #8D49F7;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
}
button a{
    color: #fff;
}
.cards{
margin-top: 30px;
    display: flex;
    gap: 2em;
    justify-content: center; 
    border-radius: 20px;
    margin-bottom: 30px;
}

.card1{
       
    width: 320px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 10px rgb(226, 222, 222);
    display: block;
}
.card2{
       
    width: 320px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 10px rgb(226, 222, 222);
    display: block;

}
.card3{
       
    width: 320px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 10px rgb(226, 222, 222);
    display: block;

}
img{
    margin-top: 30px;
    margin: auto;
}
h2{
    margin-top: 20px;
    color: #2B2A35;
    margin: auto;
}
.cards2{
    display: flex;
    justify-content: center;
    gap: 3em;
    border-radius: 20px;
}
.card{
    width: 500px;
    height: 300px;
    display: block;
    background-color: #fff;
     box-shadow: 0px 0px 10px 10px rgb(226, 222, 222);
}

.a{
    color: #8D49F7;
    font-weight: 700;
}
a{
    color: #000000;
}
.next-text{
    margin-top: 30px;
    background-image: url(../images/imgi_11_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.mid-btn{
    padding: 15px 30px;
    background-image: linear-gradient(to right,  #FFD02C, #FFA42C);
    border-radius: 10px;
    
}
.mid-btn:hover{
    background-image: linear-gradient(to left,  #FFD02C, #FFA42C);
}
.fa-check{
    color: #ffffff;
}
.midtext{
    display: flex;
    align-items: center;
    justify-content: center;
}
.midtext p{
    color: #ffffff;
}
.p1{
    display: flex;
    align-items: center;
}
.p2{
    display: flex;
    align-items: center;
}
.p3{
    display: flex;
    align-items: center;
}
@media(max-width: 1093px) {
    .card1{
        width: 250px;
    }
        .card2{
        width: 250px;
    }
        .card3{
        width: 250px;
    }
    .card{
        width: 380px;
    }
}
@media(max-width:540px){
.herosect h1{
  font-size: 1.8em;
}
}

    .cards{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
        margin-top: 100px;
        padding-bottom: 30px;
        
    }
    .cards div{
        width: 300px;
    }
    img{
        margin-top: 30px;
    }
    button{
        margin-top: .5px;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards2{
        width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-top: 30px;
    }

    .cards2 div{
        height: 300px;
    }

.anothersect{
    display: flex;
    justify-content: start;
    gap: 8em;
    width: 80%;
    margin: auto;
    margin-top: 40px;

}
.list1 a{
    color: #000000;
}
.list1 a:hover{
    text-decoration: underline;
}
.sectlist1 a{
     color: #2B2A35;
}
.sectlist1 a:hover{
    text-decoration: underline;
}
.list2 a{
    font-size: 1em;
    color: #000000;
}
.list2 a:hover{
    text-decoration: underline;
}
.sectlist2 a{
    color: #2B2A35;
}
.sectlist2 a:hover{
    text-decoration: underline;
}

.list3 a{
    color: #000000;
    font-size: 1em;
}
.list3 a:hover{
    text-decoration: underline;
}
.sectlist3 a{
color: #2B2A35;
}
.sectlist3 a:hover{
    text-decoration: underline;
}
.list4 a{
    color: #000000;
    font-size: 1em;
}
.list4 a:hover{
text-decoration: underline;
}
.sectlist4 a{
    color: #2B2A35;
}
.sectlist4 a:hover{
    text-decoration: underline;
}
@media(max-width: 960px) {
    .anothersect{
        display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
    }
}
@media(max-width:380px){
  .anothersect{
    display: grid;
    grid-template-columns: 1fr;
  }
}



hr{
    width: 80%;
    margin: auto;
    color: #E0E0E0;
    margin-top: 30px;
}
    .goto{
      text-align: center;
      border: thin solid #5e48da;
      width: 200px;
      margin: auto;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #6840B2;
      margin-top: 30px;
    }
    .goto a{
      color: #fff;
      font-weight: 500;
    }
footer{
    padding: 30px;
}
.leftside2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: #58566b;
}
.socials{
    display: flex;
    gap: .5em;
    font-size: 2em;
}
.socials a{
    color: #58566b;
}
.socials a:hover{
    color: #2B2A35;
}
@media(max-width:727px){
  .leftside2{
    display: flex;
    flex-wrap: wrap;
  }
}
    @media(max-width:350px){
      footer{
        display: block;
      }
    }