*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none !important;
}
/* ============ GENERAL STYLES ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
    background-image: linear-gradient(
    to right,
    #571cec,
    #7438f1,
    #9155f5,
    #a86bf9
  );
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}

.logo img {
  width: 100px;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.header-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.header-list li {
  position: relative;
}

.dropdown,
.dropdown2,
.dropdown3,
.dropdown4 {
  display: none;
  position: absolute;
background-color: #fff;
  top: 40px;
  left: 0;
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
}
.product-dropdown, .usecases-dropdown, .templates-dropdown, .resources-dropdown{
  display: flex;
  align-items: center;
  gap: 2em;
}
.product-dropdown h4, p, li a, .usecases-dropdown h4, p, li, .templates-dropdown h4, p, li, .resources-dropdown h4, p, li{
  color: #111;
}
.list-item2 li a, .list-item l1 a, .list-item3 li a, .list-item4{
  color: #111;
}
li a{
  color: #111;
}
.list-item3, .list-item2{
  display: flex;
  gap: 2em;
}
.mid, .mid2, .mid3, .mid4{
  border: thin solid black;
  height: 200px;
}
.list1:hover .dropdown,
.list2:hover .dropdown2,
.list3:hover .dropdown3,
.list4:hover .dropdown4 {
  display: block;
}

.dropdown img,
.dropdown2 img,
.dropdown3 img,
.dropdown4 img {
  width: 250px;
  margin-top: 10px;
  border-radius: 10px;
}

.rightside {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btns{
  display: flex;
  gap: 1em;
}

.btns a {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
}

.btn1 {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
}

.btn2 {
  background: white;
  color: #9155f5;
  font-size: 1em;
  font-weight: 600;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ============ RESPONSIVE (max-width: 1000px) ============ */
@media (max-width: 1000px) {
  nav {
    flex-wrap: wrap;
  }

  .menu-icon {
    display: block;
  }

  .header-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #111;
    text-align: center;
    padding: 20px 0;
  }

  .header-list.active {
    display: flex;
  }

  .header-list li {
    width: 100%;
  }

  .header-list li a {
    display: block;
    padding: 10px 0;
  }

  .dropdown,
  .dropdown2,
  .dropdown3,
  .dropdown4 {
    position: static;
    display: none;
    background: #222;
    padding: 10px;
    margin-top: 10px;
  }

  .header-list li.open .dropdown,
  .header-list li.open .dropdown2,
  .header-list li.open .dropdown3,
  .header-list li.open .dropdown4 {
    display: block;
  }

  .btns {
    display: none;
  }
}
